*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: block;
    font-family: sans-serif;
}
body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* Header */
#header{
    position: fixed;
    top: 0;
    padding: 0 20px;
    min-height: 75px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: #eee;
    width: 100%;
}
.logo{
    width: 60vw;
}
.logo img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-left: 20px;
}
#nav-bar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#nav-bar>ul>li>a{
    text-decoration: none;
    display: block;
    margin: 15px;
    padding-left: 15px;
    color: rgb(57, 54, 54);
    font-size: 1.25rem;
}
.get-form{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.get-form h2{
    font-size: 2rem;
}
#email{
    width: 300px;
    height: 2rem;
    margin: 20px auto;
}
#submit{
    width: 150px;
    height: 2.5rem;
    color: black;
    font-weight:900 ;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: rgb(28, 168, 28);
}
#submit:hover{
    background-color: greenyellow;
}
.content{
    width: 100%; 
    max-width: 100  0px;
    margin: 0 auto;
}
#features{
   margin-top: 30px;
}   
.feature{
    display: flex;
}
.icon{
    display: flex;
    margin-left: 15%;
    width: 200px;
    height: 125px;
    align-items: center;
    justify-content: center ;
    color: rgb(211, 168, 57);
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#video{
    max-width: 560px;
    width: 100%;
    height: 315px;
}
/* Pricing */
#pricing{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    height: 315px;
    border: 2px solid black;
}
.label-name{
    display: flex;
    width: 100%;
    height:15% ;
    background-color: #ddd;
    justify-content: space-evenly;
    align-items: center;
}
.label-price{
    display: flex;
    width: 100%;
    height:20% ;
    justify-content: space-evenly;
    align-items: center;
}
.price-product{
    font-size: 1.5rem;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}
.select-product{
    width: 30%;
    height: 10%;
    border: none;
    background-color: yellow;
    margin-bottom: 20px;
}
.select-product:hover{
    background-color: orange;
}
/* =====FOOTER===== */
footer{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 5rem;
    width: 100%;
    background-color: #ddd;
    margin-top: 3rem;

}
#contact{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin:1rem 3rem 1.5rem 0;
}
#contact li{
    list-style: none;
    right: 20%;
}
#contact li a{
    text-decoration: none;
    color: black;
    opacity: 0.9;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    margin-right: 3.5rem;
    opacity: 0.8;
}